VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucHdvYWRhY2xsaWRyeWx2c3lwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NzY0MzAsImV4cCI6MjA5NzE1MjQzMH0.Y425ICPLV6bOUEgVhYz2R6hmaYDprMMUl0NJ1pvjAOM
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhucHdvYWRhY2xsaWRyeWx2c3lwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU3NjQzMCwiZXhwIjoyMDk3MTUyNDMwfQ.OIoO9EU4hTKwp_zMwGrA5H1yfPF56lHX9cXOJaiJIwo
